﻿  <!-- Simple splash screen-->
<div class="splash"> <div class="color-line"></div><div class="splash-title"><h1>FORESTRY - Get things go green</h1><p>Go green and let things get better. </p><div class="spinner"> <div class="rect1"></div> <div class="rect2"></div> <div class="rect3"></div> <div class="rect4"></div> <div class="rect5"></div> </div> </div> </div>
<!--[if lt IE 7]>
<p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Header -->
<div id="header" ng-include="'/AppViews/common/header.html'" ng-show="LoggedEmployee"></div>

<!-- Navigation -->
<aside id="menu" ng-include="'/AppViews/common/navigation.html'" ng-show="LoggedEmployee"></aside>


<!-- Page view wrapper -->
<!-- Main Wrapper -->
<div ng-attr-id="{{ isWrapper }}">

    <div ng-class="{'content': LoggedEmployee }">
            <div ui-view autoscroll="true"></div>
    </div>

    <!-- Right sidebar -->
    @*<div id="right-sidebar" ng-include="'/AppViews/common/right_sidebar.html'" class="sidebar-open" ng-show="isUserLoggedIn"></div>*@

    <!-- Footer -->
    <footer class="footer" ng-include="'/AppViews/common/footer.html'" ng-show="LoggedEmployee"></footer>
</div>