﻿<br/><br/>
<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <div class="text-center m-b-md">
            <h3>CHANGE PASSWORD</h3>
            <!--<small>This is the best app ever!</small>-->
        </div>
        <div class="hpanel">
            <div class="panel-body">
                <form name="ChangePasswordForm">
                    <div class="form-group" ng-show="!IsForgotPassword">
                        <label class="control-label" for="UserName">Current Password</label>
                        <input type="password" placeholder="******" title="Please enter your password" required name="CurrentPassword" class="form-control" ng-model="CurrentPassword">
                        <span class="text-danger" ng-show="(ChangePasswordForm.CurrentPassword.$touched && ChangePasswordForm.CurrentPassword.$invalid) || (IsChangePasswordFormValid && ChangePasswordForm.CurrentPassword.$invalid)">Current password is required</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="UserName">New Password</label>
                        <input type="password" placeholder="******" title="Please enter your password" required name="Password" class="form-control" ng-model="EmployeeModel.Password">
                        <span class="text-danger" ng-show="(ChangePasswordForm.Password.$touched && ChangePasswordForm.Password.$invalid) || (IsChangePasswordFormValid && ChangePasswordForm.Password.$invalid)">Password is required</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="UserName">Confirm New Password</label>
                        <input type="password" placeholder="******" title="Please confirm you password" required name="ConfirmPassword" class="form-control" ng-model="EmployeeModel.ConfirmPassword">
                        <span class="text-danger" ng-show="ChangePasswordForm.ConfirmPassword.$touched && (EmployeeModel.Password != EmployeeModel.ConfirmPassword)">Confirm password doesnt match with password</span>
                    </div>

                    <hr />
                    <button class="btn btn-success btn-block" ng-click="ChangePassword()">Change Password</button>

                </form>
            </div>
        </div>
    </div>
</div>