﻿<div animate-panel effect="zoomIn">
    <div class="row">
        <div class="col-lg-12 text-center m-t-md">
            <h2>
                Welcome to Forestry
            </h2>

            <p>
                <strong>Forestry</strong> Go green and let things get better.
            </p>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-3">
            <div class="hpanel">
                <div class="panel-body text-center h-200">
                    <i class="fa fa-plus-square-o fa-4x"></i>

                    <h1 class="m-xs">{{ PlantableQty + UnderSizeQty }}</h1>

                    <h3 class="font-extra-bold no-margins text-success">
                        Total Available
                    </h3>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="hpanel">
                <div class="panel-body text-center h-200">
                    <i class="fa fa-tree fa-4x"></i>

                    <h1 class="m-xs">{{ PlantableQty }}</h1>

                    <h3 class="font-extra-bold no-margins text-success">
                        Plantable
                    </h3>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="hpanel">
                <div class="panel-body text-center h-200">
                    <i class="fa fa-arrow-down fa-4x"></i>

                    <h1 class="m-xs">{{ UnderSizeQty }}</h1>

                    <h3 class="font-extra-bold no-margins text-success">
                        Under Size
                    </h3>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="hpanel">
                <div class="panel-body text-center h-200">
                    <i class="fa fa-check-square-o fa-4x"></i>

                    <h1 class="m-xs">{{ SuppliedQty }}</h1>

                    <h3 class="font-extra-bold no-margins text-success">
                        Supplied
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="font-bold m-b-sm">
               
            </div>

            <div class="hpanel">
                <div class="panel-body">
                    <h2 class="m-t-none">Report By Month</h2>
                    <!--<small>
                        A wonderful serenity has taken possession of my entire soul, like these sweet mornings of
                        spring which I enjoy with my whole heart.
                        I am alone, and feel the charm of existence in this spot, which was created for the bliss of
                        souls like mine.
                    </small>
                    <div class="small m-t-xs">
                        <strong>Create by:</strong> Anthony Novic<br />
                        <strong>Client:</strong> Nordic Company Walking
                    </div>-->



                    <div class="m-t-sm">
                        <canvas linechart options="lineProjectOptions" data="lineProjectData" height="60" responsive=true></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <!--<div panel-tools></div>-->
                    Employees Under Me
                </div>
                <div class="panel-body list">
                    <div class="table-responsive project-list">
                        <table class="table table-striped">
                            <thead>
                                <tr>

                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Address</th>
                                    <th>Designation</th>
                                    <th>Location</th>
                                    <th>Active</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-if="MyEmployeesList.length < 1"><td colspan="6" style="text-align:center; font-weight:bold" class="text-danger">There are no employees under you.</td></tr>

                                <tr ng-repeat="employee in MyEmployeesList">
                                    <td>{{ employee.FullName }}</td>
                                    <td>{{employee.Email}}</td>
                                    <td>{{employee.Address}}</td>
                                    <td>{{employee.Designation}}</td>
                                    <td>{{employee.Location}}</td>
                                    <td>{{employee.Active? 'Yes' : 'No'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

