﻿<div class="row" animate-panel effect="zoomIn">
    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-heading">
                <!--<div panel-tools></div>-->
            </div>
            <div class="panel-body">

                <div class="row">

                    <div class="col-md-12">
                        <form name="AssignEmployeesForm">
                            <div class="row">
                                <div class="form-group col-md-5">
                                    <label>Select CF/CCF</label>
                                    <select class="form-control" ng-change="GetChildEmployees()" ng-model="EmployeeHierarchy.ParentEmpID">
                                        <option value="0">-- Select CF/CCF --</option>
                                        <option value="{{parentEmployee.Id}}" ng-repeat="parentEmployee in ParentEmployeesList"> {{parentEmployee.FirstName | uppercase}} {{parentEmployee.LastName | uppercase}}</option>
                                    </select>
                                </div>

                                <div class="form-group col-md-5">
                                    <label>Select DFO/SDFO</label>
                                    <select class="form-control" ng-model="EmployeeHierarchy.ChildEmpID">
                                        <option value="0">-- Select DFO/SDFO --</option>
                                        <option value="{{childEmployee.Id}}" ng-repeat="childEmployee in ChildEmployeesList"> {{childEmployee.FirstName | uppercase}} {{childEmployee.LastName | uppercase}}</option>
                                    </select>
                                </div>

                                <div class="col-md-2">
                                    <br/>
                                    <input type="button" ng-click="InsertUpdateEmployeeHierarchy()" value="Save" class="btn btn-primary"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <br/><br/>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered table-striped" ng-if="EmployeeHierarchyList.length > 0">
                                <thead>
                                    <tr>
                                        <th>Parent Employee</th>
                                        <th>Child Employee</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr ng-repeat="employeeHierarchy in EmployeeHierarchyList">
                                        <td>{{employeeHierarchy.ParentEmpName}}</td>
                                        <td>{{employeeHierarchy.ChildEmpName}}</td>
                                        <td><a ng-click="DeleteEmpHierarchy(employeeHierarchy.Id)"><i class="fa fa-trash"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>