﻿<div class="row" animate-panel effect="zoomIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <!--<div panel-tools></div>-->
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                        <div class="table-responsive">
                            <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="inventoryReportDTInstance" class="table table-striped table-bordered table-hover"></table>
                        </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
