﻿<div class="login-container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <h3>{{IsForgotPassword? 'PASSWORD RECOVERY' : 'LOGIN TO FORESTRY' }}</h3>
                <!--<small>This is the best app ever!</small>-->
            </div>

            <div class="hpanel" ng-if="!IsForgotPassword">
                <div class="panel-body">
                    <form name="LoginForm">
                        <div class="form-group">
                            <label class="control-label" for="UserName">Username</label>
                            <input type="text" placeholder="JohnDoe" title="Please enter you username" required value="" name="UserName" class="form-control" ng-model="EmployeeModel.UserName">
                            <span class="text-danger" ng-show="LoginForm.UserName.$touched && LoginForm.UserName.$invalid">Username is required</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="Password">Password</label>
                            <input type="password" title="Please enter your password" placeholder="******" required value="" name="Password" class="form-control" ng-model="EmployeeModel.Password">
                            <span class="text-danger" ng-show="LoginForm.Password.$touched && LoginForm.Password.$invalid">Password is required</span>
                            <div class="row">
                                <div class="col-md-12">
                                    <a ng-click="ForgotPassword()" style="cursor:pointer;">Forgot password?</a>
                                </div>
                            </div>
                        </div>

                        <center class="text-danger">{{LoginErr}}</center>
                        <hr />
                        <button ladda="loginLoading" class="ladda-button btn btn-success btn-block" data-style="zoom-in" ng-click="Login()">Login</button>
                        <a class="btn btn-default btn-block" ui-sref="register">Not registered ?</a>
                    </form>
                </div>
            </div>

            <div class="hpanel" ng-if="IsForgotPassword">
                <div class="panel-body">
                    <form name="ForgotPasswordForm">
                        <div class="form-group">
                            <label class="control-label" for="UserName">Username</label>
                            <input type="text" placeholder="JohnDoe" title="Please enter you username" required value="" name="CUserName" class="form-control" ng-model="EmployeeModel.UserName">
                            <span class="text-danger" ng-show="ForgotPasswordForm.CUserName.$touched && ForgotPasswordForm.CUserName.$invalid">Username is required</span>
                        </div>
                        <center class="text-danger">{{LoginErr}}</center>
                        <hr />
                        <button ladda="resetPasswordLoading" class="ladda-button btn btn-success btn-block" data-style="zoom-in" ng-click="SendPasswordResetEmail()">Send Email</button>
                        <a class="btn btn-default btn-block" ng-click="ForgotPassword()">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <strong>FORESTRY</strong> <br /> 2018 Copyright Forestry
        </div>
    </div>
</div>
