﻿<style>
    #mapid {
        height: 700px;
    }
</style>

<div class="row" animate-panel effect="zoomIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <!--<div panel-tools></div>-->
                </div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <div id="mapid"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
