﻿<div class="row" animate-panel effect="zoomIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <!--<div panel-tools></div>-->
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">

                            <div class="hpanel">
                                <div class="panel-heading hbuilt">
                                    <div panel-tools></div>
                                    Total Plantable/Under Size
                                </div>
                                <div class="panel-body">
                                    <div class="col-lg-6">
                                        <div class="hpanel">
                                            <div class="panel-body text-center h-200">
                                                <i class="fa fa-tree fa-4x"></i>

                                                <h1 class="m-xs">{{TotalPlantable}}</h1>

                                                <h3 class="font-extra-bold no-margins text-success">
                                                    Plantable
                                                </h3>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="hpanel">
                                            <div class="panel-body text-center h-200">
                                                <i class="fa fa-arrow-down fa-4x"></i>

                                                <h1 class="m-xs">{{TotalUnderSize}}</h1>

                                                <h3 class="font-extra-bold no-margins text-success">
                                                    Under Size
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <a ng-click="AddNewItem()" class="pull-right">[Add]</a>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-lg-12">
                            <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="ItemInventoryDTInstance" class="table table-striped table-bordered table-hover"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
