﻿<div class="row">
    <div class="col-lg-4">
        <div class="hpanel hgreen">
            <div class="panel-body">
                <div class="pull-right text-right">
                    <div class="btn-group">
                        <i class="fa fa-facebook btn btn-default btn-xs"></i>
                        <i class="fa fa-twitter btn btn-default btn-xs"></i>
                        <i class="fa fa-linkedin btn btn-default btn-xs"></i>
                    </div>
                </div>
                <img alt="logo" class="img-circle m-b m-t-md" ng-src="/content/images/user.png" style="height:140px; width:140px;">
                <h3><a href="">{{ EmployeeModel.FirstName }} {{EmployeeModel.LastName}}</a></h3>
                <div class="text-muted font-bold m-b-xs">{{ EmployeeModel.Address? EmployeeModel.Address : 'Please provide address' }}</div>
                <p>

                </p>
                <uib-progressbar value="65" type="success" class="progress-small full progress-striped active"></uib-progressbar>
                <br/>
            </div>
            <div class="panel-footer contact-footer">
                <div class="row">
                    <div class="col-md-4 border-right">
                        <div class="contact-stat"><span>Plantable: </span> <strong>200</strong></div>
                    </div>
                    <div class="col-md-4 border-right">
                        <div class="contact-stat"><span>Under Size: </span> <strong>300</strong></div>
                    </div>
                    <div class="col-md-4">
                        <div class="contact-stat"><span>Supplied: </span> <strong>400</strong></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-8">
        <div class="hpanel">
            <div class="">
                <div class="panel-body">
                    <form name="ProfileForm">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input type="text" class="form-control" ng-model="EmployeeModel.FirstName" name="FirstName" required />
                                    <span class="text-danger" ng-show="(ProfileForm.FirstName.$touched && ProfileForm.FirstName.$invalid) || (IsEmployeeFormValid && ProfileForm.FirstName.$invalid)">First Name is required.</span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input type="text" class="form-control" ng-model="EmployeeModel.LastName" name="LastName" />
                                </div>
                            </div>
                        </div>

                        <!--<div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="text" class="form-control" ng-model="EmployeeModel.Password" name="Password" />
                                    <span class="text-danger" ng-show="(ProfileForm.FirstName.$touched && ProfileForm.FirstName.$invalid) || (!IsRegistrationFormValid && ProfileForm.FirstName.$invalid)">Password is required</span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Confirm Password</label>
                                    <input type="text" class="form-control" ng-model="EmployeeModel.ConfirmPassword" name="ConfirmPassword" />
                                </div>
                            </div>
                        </div>-->

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" class="form-control" ng-model="EmployeeModel.Email" name="Email" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Address</label>
                                    <textarea class="form-control" ng-model="EmployeeModel.Address" rows="4" name="Address"></textarea>
                                </div>
                            </div>
                        </div>

                        <hr/>
                        <div class="row">
                            <div class="pull-right">
                                <input type="button" value="Save" class="btn btn-primary" ng-click="UpdateEmployee(false)" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
