﻿<div class="row" animate-panel effect="zoomIn">
    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-heading">
                <!--<div panel-tools></div>-->
            </div>
            <div class="panel-body">
                <form name="PRSForm">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Plantation Type</label>
                                <select name="PlantationType" ng-model="PRS.PlantationType" class="form-control">
                                    <option value="roadside">Roadside Plantation</option>
                                    <option value="canalside">Canalside Plantation</option>
                                    <option value="amenity">Amenity Plantation</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Raising</label>
                                <select name="RaisingID" ng-model="PRS.RaisingID" class="form-control">
                                    <option value="0">-- Select Raising --</option>
                                    <option ng-repeat="raising in RaisingList" value="{{raising.Id}}">{{raising.Name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Name of {{ PRS.PlantationType == 'amenity'? 'Location' : PRS.PlantationType == 'roadside'? 'Road' : 'Canal' }}</label>
                                <input type="text" name="Name" ng-model="PRS.Name" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>{{ PRS.PlantationType == 'amenity'? 'City' : 'District' }}</label>
                                <input type="text" name="District" ng-model="PRS.District" class="form-control" />
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>{{ PRS.PlantationType == 'amenity'? 'Town' : 'Taluka' }}</label>
                                <input type="text" name="Taluka" ng-model="PRS.Taluka" class="form-control" />
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Plantation Date</label>
                                <input type="date" name="PlantationDate" ng-model="PRS.PlantationDate" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Species Planted</label>
                                <ui-select multiple ng-model="PRS.PRSItemCollection" ng-if="ItemList.length > 0" append-to-body="true">
                                    <ui-select-match placeholder="Select species...">{{ $item.Name }}</ui-select-match>
                                    <ui-select-choices repeat="item in ItemList | filter: $select.search">
                                        {{item.Name}}
                                    </ui-select-choices>
                                </ui-select>
                                <!--<select type="text" name="ItemID" ng-model="PRS.ItemID" class="form-control" />-->
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-if="PRS.PlantationType != 'amenity'">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Distance (KM)</label>
                                <input type="text" disabled="disabled" name="Distance" ng-model="PRS.Distance" class="form-control" />
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>From {{ PRS.PlantationType == 'roadside'? '(KM)' : '(RD)' }}</label>
                                <input type="text" name="KMFrom" ng-model="PRS.KMFrom" class="form-control" ng-change="CalculateDistance()" />
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>To {{ PRS.PlantationType == 'roadside'? '(KM)' : '(RD)' }}</label>
                                <input type="text" name="KMTo" ng-model="PRS.KMTo" class="form-control" ng-change="CalculateDistance()" />
                            </div>
                        </div>



                    </div>

                    <div class="row">
                        <div class="col-md-4" ng-if="PRS.PlantationType != 'amenity'">
                            <div class="form-group">
                                <label>No. of Plants/KM</label>
                                <input type="number" name="PlantsKm" ng-model="PRS.PlantsKm" class="form-control" ng-change="CalculateTotalPlants()" />
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Total No. of Plants</label>
                                <input type="text" ng-if="PRS.PlantationType != 'amenity'" disabled="disabled" name="TotalPlants" ng-model="PRS.TotalPlants" class="form-control" />
                                <input type="text" ng-if="PRS.PlantationType == 'amenity'" name="TotalPlants" ng-model="PRS.TotalPlants" class="form-control" />
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Success(%)</label>
                                <select name="SuccessPercent" ng-model="PRS.SuccessPercent" class="form-control">
                                    <option value="0"> 0% </option>
                                    <option value="< 20%">< 20%</option>
                                    <option value="20-40%">20-40% </option>
                                    <option value="41-60%">41-60% </option>
                                    <option value="61-80%"> 61-80% </option>
                                    <option value="> 80%"> > 80% </option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Location</label>
                                <select name="LocationID" ng-model="PRS.LocationID" class="form-control">
                                    <option value="0">-- Select Location --</option>
                                    <option ng-repeat="location in LocationList" value="{{location.Id}}">{{location.Name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Scheme</label>
                                <select name="SchemeID" ng-model="PRS.SchemeID" class="form-control">
                                    <option value="0">-- Select Scheme --</option>
                                    <option ng-repeat="scheme in SchemeList" value="{{scheme.Id}}">{{scheme.Name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4" ng-if="PRS.RestockingDone">
                            <div class="form-group">

                                <label>No. of Restocking</label>
                                <select name="NoOfRestocking" ng-model="PRS.NoOfRestocking" class="form-control">
                                    <option value="0"> 0 </option>
                                    <option value="1">1</option>
                                    <option value="2">2 </option>
                                    <option value="3">3</option>
                                    <option value="4"> 4</option>
                                </select>
                            </div>
                        </div>



                        <div class="col-md-4">
                            <div class="form-group" style="margin-top: 30px;">
                                <input icheck type="checkbox" ng-model="PRS.RestockingDone"> <b>Restocking Done</b>
                            </div>
                        </div>
                    </div>

                    
                    <br/><hr/>
                    <div class="row">
                        <div class="col-md-12">
                            <a class="btn btn-default pull-right" ui-sref="supply">Cancel</a>
                            <input type="button" class="btn btn-primary pull-right" ng-click="InsertUpdatePRS()" value="Save" />
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>