﻿<div class="back-link">
    <a ui-sref="login" class="btn btn-primary">Back to Login</a>
</div>

<div class="login-container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <h3>REGISTER TO FORESTRY</h3>
                <!--<small>This is the best app ever!</small>-->
            </div>
            <div class="hpanel">
                <div class="panel-body">
                    <form name="RegistrationForm">
                        <div class="form-group">
                            <label class="control-label" for="FirstName">First Name</label>
                            <input type="text" placeholder="John" title="Please enter your firstname" required value="" name="FirstName" class="form-control" ng-model="EmployeeModel.FirstName">
                            <span class="text-danger" ng-show="(RegistrationForm.FirstName.$touched && RegistrationForm.FirstName.$invalid) || (!IsRegistrationFormValid && RegistrationForm.FirstName.$invalid)">Password is required</span>
                            
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="LastName">Last Name</label>
                            <input type="text" placeholder="Doe" title="Please enter your lastname" required value="" name="LastName" class="form-control" ng-model="EmployeeModel.LastName">
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="UserName">Username</label>
                            <input type="text" placeholder="JohnDoe" title="Please enter you username" required value="" name="UserName" class="form-control" ng-model="EmployeeModel.UserName">
                            <span class="text-danger" ng-show="(RegistrationForm.UserName.$touched && RegistrationForm.UserName.$invalid) || (!IsRegistrationFormValid && RegistrationForm.UserName.$invalid)">Username is required</span>
                            <span class="text-danger">{{UserNameErr}}</span>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="Password">Password</label>
                            <input type="password" title="Please enter your password" placeholder="******" required value="" name="Password" class="form-control" ng-model="EmployeeModel.Password">
                            <span class="text-danger" ng-show="(RegistrationForm.Password.$touched && RegistrationForm.Password.$invalid) || (!IsRegistrationFormValid && RegistrationForm.Password.$invalid)">Password is required</span>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="ConfirmPassword">Confirm Password</label>
                            <input type="password" title="Please enter your password" placeholder="******" required value="" name="ConfirmPassword" class="form-control" ng-model="EmployeeModel.ConfirmPassword">
                            <span class="text-danger" ng-show="(RegistrationForm.ConfirmPassword.$touched && RegistrationForm.ConfirmPassword.$invalid) || (!IsRegistrationFormValid && RegistrationForm.ConfirmPassword.$invalid)">Password is required</span>
                            <span class="text-danger">{{ConfirmPasswordErr}}</span>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="Email">Email</label>
                            <input type="email" title="Please enter your email" placeholder="john@gmail.com" required value="" name="Email" class="form-control" ng-model="EmployeeModel.Email">
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="Address">Address</label>
                            <textarea title="Please enter your address" placeholder="House No # 15 East Street USA" required value="" name="Address" class="form-control" ng-model="EmployeeModel.Address"></textarea>
                        </div>

                        <hr />

                        <a class="btn btn-success btn-block" ng-click="Register()">Register</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <strong>HOMER</strong> - AngularJS Responsive WebApp <br /> 2015 Copyright Company Name
        </div>
    </div>
</div>
