﻿<div class="row" animate-panel effect="zoomIn" ng-if="!IsAddSupply">
    <div class="col-md-12">
        <div class="hpanel">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-12">
                        <a ng-click="AddNewSupply()" class="pull-right">[Add]</a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="supplyDTInstance" class="table table-striped table-bordered table-hover"></table>
                </div>
            </div>
        </div>
    </div>
</div>


<form name="SupplyForm">
    <div class="row" animate-panel effect="zoomIn" ng-if="IsAddSupply">
        <div class="row">
            <div class="col-md-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div panel-tools></div>
                        My Available Plants
                    </div>
                    <div class="panel-body list">
                        <div class="table-responsive project-list">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Plant</th>
                                        <th>Size</th>
                                        <th>Micro Quantity</th>
                                        <th>Macro Quantity</th>
                                        <th>Potted Quantity</th>
                                        <th>Total Quantity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in TotalItemsInventory" ng-if="TotalItemsInventory">
                                        <td>{{item.ItemName}}</td>
                                        <td>{{item.ItemSize}}</td>
                                        <td>{{item.MicroQty}}</td>
                                        <td>{{item.MacroQty}}</td>
                                        <td>{{item.PottedQty}}</td>
                                        <td>{{item.TotalQty}}</td>
                                    </tr>

                                    <tr ng-if="TotalItemsInventory.length < 1"><td colspan="6" class="text-danger" style="font-weight:bold; text-align:center;">No items in inventory</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="hpanel">
                    <div class="panel-heading">

                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Raising</label>
                                <select class="form-control" name="RaisingID" ng-model="Supply.RaisingID" required>
                                    <option value="0">-- Select Raising --</option>
                                    <option ng-repeat="raising in RaisingList" value="{{raising.Id}}">{{raising.Name}}</option>
                                </select>
                                <span class="text-danger" ng-show="(SupplyForm.RaisingID.$touched || !IsSupplyFormValid) && Supply.RaisingID == '0'">Raising is required</span>
                            </div>

                            <div class="form-group col-md-6">
                                <label>Scheme</label>
                                <select class="form-control" name="SchemeID" ng-model="Supply.SchemeID" required>
                                    <option value="0">-- Select Scheme --</option>
                                    <option ng-repeat="scheme in SchemeList" value="{{scheme.Id}}">{{scheme.Name}}</option>
                                </select>
                                <span class="text-danger" ng-show="(SupplyForm.SchemeID.$touched || !IsSupplyFormValid) && Supply.SchemeID == '0'">Scheme is required</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Customer</label>
                                <select class="form-control" name="CustomerID" ng-model="Supply.CustomerID" ng-change="FixDataOnCustomer()" required>
                                    <option value="0">-- Select Customer --</option>
                                    <option ng-repeat="customer in CustomerList" value="{{customer.Id}}">{{customer.Name}}</option>
                                </select>
                                <span class="text-danger" ng-show="(SupplyForm.CustomerID.$touched || !IsSupplyFormValid) && Supply.CustomerID == '0'">Customer is required</span>
                            </div>

                            <div class="form-group col-md-6">
                                <label>Date of supply</label>
                                <input type="date" class="form-control" ng-model="Supply.SupplyDate" name="SupplyDate" required />
                                <span class="text-danger" ng-show="!IsSupplyFormValid">Supply date is required</span>
                            </div>
                        </div>


                        <br />
                        <fieldset ng-show="Supply.CustomerID == '1' || Supply.CustomerID == '2'">
                            <legend style="font-size:16px;"><b>Customer Detail</b></legend>
                            <div class="row">
                                <div class="form-group col-md-6" ng-show="Supply.CustomerID == '1'">
                                    <label>Armed Force</label>
                                    <select class="form-control" name="ArmedForcesID" ng-model="Supply.ArmedForcesID" required>
                                        <option value="0">-- Select Armed Force --</option>
                                    </select>
                                    <span class="text-danger" ng-show="(SupplyForm.ArmedForcesID.$touched || !IsSupplyFormValid) && Supply.ArmedForcesID == '0'">Armed Force is required</span>
                                </div>

                                <div class="form-group col-md-4" ng-show="Supply.CustomerID == '2'">
                                    <label>Name</label>
                                    <input type="text" class="form-control" name="CustomerName" ng-model="Supply.CustomerName" required />
                                    <span class="text-danger" ng-show="(SupplyForm.CustomerName.$touched && SupplyForm.CustomerName.$invalid) || (SupplyForm.CustomerName.$invalid && !IsSupplyFormValid)">Customer name is required</span>
                                </div>

                                <div class="form-group" ng-class="{'col-md-6': Supply.CustomerID == '1', 'col-md-4': Supply.CustomerID == '2'}" ng-show="Supply.CustomerID == '1' || Supply.CustomerID == '2'">
                                    <label>Contact {{ Supply.CustomerID == '2'? 'No' : '' }}</label>
                                    <input type="text" ui-mask="9999-9999999" ui-mask-placeholder-char="_" class="form-control" name="Contact" ng-if="Supply.CustomerID == '2'" ng-model="Supply.Contact" required />
                                    <input type="text" class="form-control" name="Contact" ng-if="Supply.CustomerID == '1'" ng-model="Supply.Contact" required />
                                    <span class="text-danger" ng-show="(SupplyForm.Contact.$touched && SupplyForm.Contact.$invalid) || (SupplyForm.Contact.$invalid && !IsSupplyFormValid)">Contact is required</span>
                                </div>

                                <div class="form-group" ng-class="{'col-md-6': Supply.CustomerID == '1', 'col-md-4': Supply.CustomerID == '2'}" ng-show="Supply.CustomerID == '2'">
                                    <label>CNIC</label>
                                    <input type="text" ui-mask="99999-9999999-9" ui-mask-placeholder-char="_" class="form-control" name="CNIC" ng-model="Supply.CNIC" required />
                                    <span class="text-danger" ng-show="(SupplyForm.CNIC.$touched && SupplyForm.CNIC.$invalid) || (SupplyForm.CNIC.$invalid && !IsSupplyFormValid)">CNIC is required</span>
                                </div>
                            </div>
                        </fieldset>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <div>
                                    <input type="button" value="Get Lat/Lng" ng-click="GetCoordinates()" class="btn btn-primary" />
                                    <span class="text-danger" ng-show="Supply.SupplyCoordinates.length < 1 && !IsSupplyFormValid">Coordinates are required</span>
                                </div>

                                <br />

                                <table class="table table-bordered table-hover table-striped" ng-if="Supply.SupplyCoordinates.length > 0">
                                    <thead>
                                        <tr>
                                            <th> Latitude</th>
                                            <th> Logitude </th>
                                            <th> Plantation </th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr ng-repeat="latlng in Supply.SupplyCoordinates">
                                            <td>{{latlng.Latitude}}</td>
                                            <td>{{latlng.Longitude}}</td>
                                            <td>{{latlng.PlantationName | uppercase}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <br />
                        <!--<fieldset>
                            <legend style="font-size:16px;"><b>Coordinates</b></legend>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>X-Axis</label>
                                    <input type="text" class="form-control" ng-model="Supply.X" name="X" required />
                                    <span class="text-danger" ng-show="(SupplyForm.X.$touched && SupplyForm.X.$invalid) || (!IsSupplyFormValid && SupplyForm.X.$invalid)">X-Axis is required</span>
                                </div>

                                <div class="form-group col-md-6">
                                    <label>Y-Axis</label>
                                    <input type="text" class="form-control" ng-model="Supply.Y" name="Y" required />
                                    <span class="text-danger" ng-show="(SupplyForm.Y.$touched && SupplyForm.Y.$invalid) || (!IsSupplyFormValid && SupplyForm.Y.$invalid)">Y-Axis is required</span>
                                </div>
                            </div>
                        </fieldset>-->

                        <br />
                        <fieldset>
                            <legend style="font-size:16px;"><b>Item Detail</b> <a ng-click="AddSupplyItem()">  [Add Item]</a></legend>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label>Plant</label>
                                    <select class="form-control" name="ItemID" ng-model="SupplyItem.ItemID" required>
                                        <option value="0">-- Select Plant --</option>
                                        <option ng-repeat="item in ItemsList" value="{{item.Id}}">{{item.Name}}</option>
                                    </select>
                                    <span class="text-danger" ng-show="(SupplyForm.ItemID.$touched || !IsSupplyItemFormValid) && SupplyItem.ItemID == '0'">Plant is required</span>
                                </div>

                                <div class="form-group col-md-4">
                                    <label>Size</label>
                                    <select class="form-control" name="ItemSizeID" ng-model="SupplyItem.ItemSizeID" required>
                                        <option value="0">-- Select Plant Size --</option>
                                        <option ng-repeat="itemsize in ItemSizeList" value="{{itemsize.Id}}">{{itemsize.Size}}</option>
                                    </select>
                                    <span class="text-danger" ng-show="(SupplyForm.ItemSizeID.$touched || !IsSupplyItemFormValid) && SupplyItem.ItemSizeID == '0'">Plant size is required</span>
                                </div>

                                <div class="form-group col-md-4">
                                    <label>Total Quantity</label>
                                    <input type="number" class="form-control" name="TotalQty" ng-model="SupplyItem.TotalQty" disabled="disabled" required />
                                    <span class="text-danger">{{TotalQtyError}}</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label>Micro Quantity</label>
                                    <input type="number" ng-change="GetTotalQty()" class="form-control" name="MicroQty" ng-model="SupplyItem.MicroQty" required />
                                </div>

                                <div class="form-group col-md-4">
                                    <label>Macro Quantity</label>
                                    <input type="number" ng-change="GetTotalQty()" class="form-control" name="TotalQty" ng-model="SupplyItem.MacroQty" required />
                                </div>

                                <div class="form-group col-md-4">
                                    <label>Potted Quantity</label>
                                    <input type="number" ng-change="GetTotalQty()" class="form-control" name="PottedQty" ng-model="SupplyItem.PottedQty" required />
                                </div>
                            </div>
                        </fieldset>
                        <hr />
                        <div class="row">
                            <div class="col-sm-2 pull-right">
                                <input type="button" ng-click="AddNewSupply()" class="btn btn-default" value="Cancel" />
                                <input type="button" ng-click="InsertUpdateSupply()" class="btn btn-primary" value="Save" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="hpanel" ng-if="Supply.supplyItemCollection.length > 0">
                    <div class="panel-heading">

                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Plant Name</th>
                                        <th>Size</th>
                                        <th>Micro Quantity</th>
                                        <th>Macro Quantity</th>
                                        <th>Potted Quantity</th>
                                        <th>Total Quantity</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr ng-repeat="supplyitem in Supply.supplyItemCollection">
                                        <td>{{GetItemName(supplyitem.ItemID)}}</td>
                                        <td>{{GetItemSize(supplyitem.ItemSizeID)}}</td>
                                        <td>{{supplyitem.MicroQty}}</td>
                                        <td>{{supplyitem.MacroQty}}</td>
                                        <td>{{supplyitem.PottedQty}}</td>
                                        <td>{{supplyitem.TotalQty}}</td>
                                        <td><a ng-click="DeleteSupplyItem(supplyitem.Id)" class="fa fa-trash"></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
