﻿<!DOCTYPE html>
<html ng-app="homer">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Page title set in pageTitle directive -->
    <title page-title></title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!--<link rel="shortcut icon" type="image/ico" href="favicon.ico" />-->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/angular-notify/dist/angular-notify.min.css" />
    <link rel="stylesheet" href="/bower_components/fontawesome/css/font-awesome.css" />
    <link rel="stylesheet" href="/bower_components/metisMenu/dist/metisMenu.css" />
    <link rel="stylesheet" href="/bower_components/animate.css/animate.css" />
    <link rel="stylesheet" href="/bower_components/sweetalert/lib/sweet-alert.css" />
    <link rel="stylesheet" href="/bower_components/fullcalendar/dist/fullcalendar.min.css" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/bower_components/summernote/dist/summernote.css" />
    <link rel="stylesheet" href="/bower_components/ng-grid/ng-grid.min.css" />
    <link rel="stylesheet" href="/bower_components/angular-ui-tree/dist/angular-ui-tree.min.css" />
    <link rel="stylesheet" href="/bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css" />
    <link rel="stylesheet" href="/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" href="/bower_components/angular-xeditable/dist/css/xeditable.css" />
    <link rel="stylesheet" href="/bower_components/ui-select/dist/select.min.css" />
    <link rel="stylesheet" href="/bower_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" />
    <link rel="stylesheet" href="/bower_components/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" />
    <link rel="stylesheet" href="/bower_components/blueimp-gallery/css/blueimp-gallery.min.css" />
    <link rel="stylesheet" href="/bower_components/footable/css/footable.core.css" />
    <link rel="stylesheet" href="/bower_components/chartist/custom/chartist.css" />
    <link rel="stylesheet" href="/bower_components/CodeMirror/lib/codemirror.css" />
    <link rel="stylesheet" href="/bower_components/c3/c3.min.css" />
    <link rel="stylesheet" href="/bower_components/clockpicker/dist/bootstrap-clockpicker.min.css" />
    <link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="/bower_components/ladda/dist/ladda-themeless.min.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/style.css -->
    <link rel="stylesheet" href="/Content/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="/Content/fonts/pe-icon-7-stroke/css/helper.css" />
    <link rel="stylesheet" href="/Content/styles/style.css">
    <link href="/Content/loading-bar.css" rel="stylesheet" />
    <!-- endbuild -->

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" />

    <style>
        table {
            width: 100% !important;
        }

        body.modal-open {
            position: relative !important;
        }

        #loading-bar .bar {
            background: #50df20 !important;
            height: 5px !important;
        }

        #loading-bar-spinner .spinner-icon {
            width: 18px;
            height: 18px;
            border: solid 4px transparent !important;
            border-top-color: #50df20 !important;
            border-left-color: #50df20 !important;
            border-radius: 10px !important;
        }
    </style>

</head>

<!-- Body -->
<!-- appCtrl controller with serveral data used in theme on diferent view -->
<!-- landing-scrollspy is directive for scrollspy used in landing page -->
<body ng-controller="appCtrl" class="{{$state.current.data.specialClass}}" landing-scrollspy tour backdrop="true">

    @RenderBody()

    <!-- build:js(.) scripts/vendor.js -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="/bower_components/slimScroll/jquery.slimscroll.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/jquery-flot/jquery.flot.js"></script>
    <script src="/bower_components/jquery-flot/jquery.flot.resize.js"></script>
    <script src="/bower_components/jquery-flot/jquery.flot.pie.js"></script>
    <script src="/bower_components/flot.curvedlines/curvedLines.js"></script>
    <script src="/bower_components/jquery.flot.spline/index.js"></script>
    <script src="/bower_components/angular-flot/angular-flot.js"></script>
    <script src="/bower_components/metisMenu/dist/metisMenu.min.js"></script>
    <script src="/bower_components/sweetalert/lib/sweet-alert.js"></script>
    <script src="/bower_components/iCheck/icheck.min.js"></script>
    <script src="/bower_components/sparkline/index.js"></script>
    <script src="/bower_components/chartjs/Chart.min.js"></script>
    <script src="/bower_components/angles/angles.js"></script>
    <script src="/bower_components/peity/jquery.peity.min.js"></script>
    <script src="/bower_components/angular-peity/angular-peity.js"></script>
    <script src="/bower_components/sweetalert/lib/sweet-alert.min.js"></script>
    <script src="/bower_components/angular-notify/dist/angular-notify.min.js"></script>
    <script src="/bower_components/chartjs/Chart.min.js"></script>
    <script src="/bower_components/angles/angles.js"></script>
    <script src="/bower_components/angular-ui-utils/ui-utils.js"></script>
    <script src="/bower_components/angular-ui-map/ui-map.js"></script>
    <script src="/bower_components/moment/min/moment.min.js"></script>
    <script src="/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="/bower_components/angular-ui-calendar/src/calendar.js"></script>
    <script src="/bower_components/summernote/dist/summernote.min.js"></script>
    <script src="/bower_components/angular-summernote/dist/angular-summernote.min.js"></script>
    <script src="/bower_components/ng-grid/ng-grid-2.0.14.min.js"></script>
    <script src="/bower_components/angular-ui-tree/dist/angular-ui-tree.min.js"></script>
    <script src="/bower_components/bootstrap-tour/build/js/bootstrap-tour.min.js"></script>
    <script src="/bower_components/angular-bootstrap-tour/dist/angular-bootstrap-tour.min.js"></script>
    <script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/bower_components/pdfmake/build/pdfmake.min.js"></script>
    <script src="/bower_components/pdfmake/build/vfs_fonts.js"></script>
    <script src="/bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/bower_components/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/bower_components/angular-datatables/dist/plugins/buttons/angular-datatables.buttons.min.js"></script>
    <script src="/bower_components/angular-datatables/dist/angular-datatables.min.js"></script>
    <script src="/bower_components/angular-xeditable/dist/js/xeditable.min.js"></script>
    <script src="/bower_components/ui-select/dist/select.min.js"></script>
    <script src="/bower_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
    <script src="/bower_components/blueimp-gallery/js/jquery.blueimp-gallery.min.js"></script>
    <script src="/bower_components/angular-ui-sortable/sortable.min.js"></script>
    <script src="/bower_components/footable/dist/footable.all.min.js"></script>
    <script src="/bower_components/angular-footable/dist/angular-footable.min.js"></script>
    <script src="/bower_components/chartist/dist/chartist.js"></script>
    <script src="/bower_components/angular-chartist.js/dist/angular-chartist.min.js"></script>
    <script src="/bower_components/CodeMirror/lib/codemirror.js"></script>
    <script src="/bower_components/CodeMirror/mode/javascript/javascript.js"></script>
    <script src="/bower_components/angular-ui-codemirror/ui-codemirror.min.js"></script>
    <script src="/bower_components/d3/d3.min.js"></script>
    <script src="/bower_components/c3/c3.min.js"></script>
    <script src="/bower_components/c3-angular/c3-angular.min.js"></script>
    <script src="/bower_components/clockpicker/dist/bootstrap-clockpicker.min.js"></script>
    <script src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/bower_components/ladda/dist/spin.min.js"></script>
    <script src="/bower_components/ladda/dist/ladda.min.js"></script>
    <script src="/bower_components/ladda/dist/ladda.jquery.min.js"></script>
    <script src="/bower_components/angular-ladda/dist/angular-ladda.min.js"></script>
    <script src="/Scripts/angular-cookies.js"></script>
    <script src="/Scripts/mg/packages/angular-ui/mask.js"></script>
    <script src="/Scripts/loading-bar.js"></script>
    <!-- endbuild -->
    <!--
     You need to include this script on any page that has a Google Map.
     When using Google Maps on your own site you MUST signup for your own API key at:
     https://developers.google.com/maps/documentation/javascript/tutorial#api_key
     After your sign up replace the key in the URL below..
    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQTpXj82d8UpCi97wzo_nKXL7nYrd4G70"></script>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="/Scripts/homer.js"></script>
    <script src="/Scripts/app.js"></script>
    <script src="/Scripts/config.js"></script>
    <script src="/Scripts/filters/props.js"></script>
    <script src="/Scripts/directives/directives.js"></script>
    <script src="/Scripts/controllers/main.js"></script>
    <script src="/Scripts/factories/sweet-alert.js"></script>
    <script src="/Scripts/controllers/alerts.js"></script>
    <script src="/Scripts/controllers/modal.js"></script>
    <script src="/Scripts/controllers/charts_flot.js"></script>
    <script src="/Scripts/controllers/chartjs.js"></script>
    <script src="/Scripts/controllers/inline.js"></script>
    <script src="/Scripts/controllers/clock.js"></script>
    <script src="/Scripts/controllers/timeline.js"></script>
    <script src="/Scripts/controllers/googleMap.js"></script>
    <script src="/Scripts/controllers/calendar.js"></script>
    <script src="/Scripts/controllers/editor.js"></script>
    <script src="/Scripts/controllers/grid.js"></script>
    <script src="/Scripts/controllers/list.js"></script>
    <script src="/Scripts/controllers/tour.js"></script>
    <script src="/Scripts/controllers/datatables.js"></script>
    <script src="/Scripts/controllers/wizard.js"></script>
    <script src="/Scripts/controllers/forms.js"></script>
    <script src="/Scripts/controllers/draggable.js"></script>
    <script src="/Scripts/controllers/validation.js"></script>
    <script src="/Scripts/controllers/chartist.js"></script>
    <script src="/Scripts/controllers/codeEditor.js"></script>
    <script src="/Scripts/controllers/loading.js"></script>
    <script src="/Scripts/directives/touchSpin.js"></script>
    <!-- endbuild -->
    <!-- Services -->
    <script src="/Scripts/services/authenticationService.js"></script>
    <script src="/Scripts/services/employeesService.js"></script>
    <script src="/Scripts/services/nurseryinventoryService.js"></script>
    <script src="/Scripts/services/itemsService.js"></script>
    <script src="/Scripts/services/itemsizeService.js"></script>
    <script src="/Scripts/services/raisingService.js"></script>
    <script src="/Scripts/services/schemeService.js"></script>
    <script src="/Scripts/services/supplyService.js"></script>
    <script src="/Scripts/services/employeeHierarchyService.js"></script>
    <script src="/Scripts/services/locationService.js"></script>
    <script src="/Scripts/services/designationService.js"></script>
    <script src="/Scripts/services/rolesServices.js"></script>
    <script src="/Scripts/services/dashboardService.js"></script>
    <script src="/Scripts/services/prsService.js"></script>>

    <!-- Controllers -->
    <script src="/Scripts/controllers/Custom/authenticationCtrl.js"></script>
    <script src="/Scripts/controllers/Custom/employeesCtrl.js"></script>
    <script src="/Scripts/controllers/Custom/nurseryinventoryCtrl.js"></script>
    <script src="/Scripts/controllers/Custom/schemeCtrl.js"></script>
    <script src="/Scripts/controllers/Custom/supplyCtrl.js"></script>
    <script src="/Scripts/controllers/Custom/employeesHierarchyCtrl.js"></script>
    <script src="/Scripts/controllers/Custom/mapCtrl.js"></script>
    <script src="/Scripts/controllers/Custom/itemsCtrl.js"></script>
    <script src="/Scripts/controllers/Custom/dashboardCtrl.js"></script>
    <script src="/Scripts/controllers/Custom/prsCtrl.js"></script>
</body>
</html>