<div class="inmodal">
    <div class="color-line"></div>
    <div class="modal-header">
        <h4 class="modal-title">Employee Assignments</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="form-group col-sm-6">
                <label>Location</label>
                <select class="form-control" ng-model="EmployeeModel.LocationID">
                    <option value="0"> -- Select Location -- </option>
                    <option ng-repeat="location in LocationList" value="{{location.Id}}"> {{ location.Name }}  </option>
                </select>
            </div>

            <div class="form-group col-sm-6">
                <label>Designation</label>
                <select class="form-control" ng-model="EmployeeModel.DesignationID">
                    <option value="0"> -- Select Designation -- </option>
                    <option ng-repeat="designation in DesignationList" value="{{designation.Id}}"> {{ designation.Name }}  </option>
                </select>
            </div>

            <!--<div class="form-group col-sm-6">
                <label>Department</label>
                <select class="form-control" ng-model="EmployeeModel.DepartmentID">
                    <option value="0"> -- Select Department -- </option>
                    <option ng-repeat="department in DepartmentList" value="{{department.Id}}"> {{ department.Name }}  </option>
                </select>
            </div>-->

            <div class="form-group col-sm-6">
                <label>Role</label>
                <select class="form-control" ng-model="EmployeeModel.RoleID">
                    <option value="0"> -- Select Role -- </option>
                    <option ng-repeat="role in RoleList" value="{{role.Id}}"> {{ role.Name }}  </option>
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="UpdateEmployee(true)">Save changes</button>
    </div>
</div>

