﻿<div class="inmodal">
    <div class="color-line"></div>
    <div class="modal-header">
        <h4 class="modal-title">Nursery Inventory</h4>
    </div>
    <div class="modal-body">
        <form name="ItemInventoryForm">
            <div class="row">
                <div class="form-group col-md-6">
                    <label>Species</label>
                    <select class="form-control" ng-model="ItemInventory.ItemID" name="ItemID" required>
                        <option value="0">-- Select Species --</option>
                        <option ng-repeat="item in ItemsList" value="{{ item.Id }}">{{ item.Name }}</option>
                    </select>
                    <span class="text-danger" ng-show="(ItemInventoryForm.ItemID.$touched && ItemInventory.ItemID == '0') || (!IsItemInventoryValid && ItemInventory.ItemID == '0')">Item is required </span>
                </div>

                <div class="form-group col-md-6">
                    <label>Species Size</label>
                    <select class="form-control" ng-model="ItemInventory.ItemSizeID" name="ItemSizeID" required>
                        <option value="0">-- Select Size --</option>
                        <option ng-repeat="itemsize in ItemSizeList" value="{{ itemsize.Id }}">{{ itemsize.Size }}</option>
                    </select>
                    <span class="text-danger" ng-show="(ItemInventoryForm.ItemSizeID.$touched && ItemInventory.ItemSizeID == '0') || (!IsItemInventoryValid && ItemInventory.ItemSizeID == '0')">Item Size is required </span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label>Micro Quantity</label>
                    <input type="number" class="form-control" ng-change="GetTotal()" ng-model="ItemInventory.MicroQty" />
                </div>

                <div class="form-group col-md-6">
                    <label>Macro Quantity</label>
                    <input type="number" class="form-control" ng-change="GetTotal()" ng-model="ItemInventory.MacroQty" />
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label>Potted Quantity</label>
                    <input type="number" class="form-control" ng-change="GetTotal()" ng-model="ItemInventory.PottedQty" />
                </div>

                <div class="form-group col-md-6">
                    <label>Total Quantity</label>
                    <input type="text" class="form-control" ng-model="ItemInventory.TotalQty" name="TotalQty" disabled="disabled" />
                    <span class="text-danger" ng-show="ItemInventory.TotalQty < 1 && !IsItemInventoryValid">Total quantity must be greater than 0 </span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label>Raising Under</label>
                    <select class="form-control" ng-model="ItemInventory.RaisingID" name="RaisingID" required>
                        <option value="0">-- Select Raising --</option>
                        <option ng-repeat="raising in RaisingList" value="{{ raising.Id }}">{{ raising.Name }}</option>
                    </select>
                    <span class="text-danger" ng-show="(ItemInventoryForm.RaisingID.$touched && ItemInventory.RaisingID == '0') || (!IsItemInventoryValid && ItemInventory.RaisingID == '0')">Raising is required </span>
                </div>

                <div class="form-group col-md-6">
                    <label>Recorded At</label>
                    <input type="date" class="form-control" ng-model="ItemInventory.CreatedDate" />
                </div>
            </div>

            <div class="row" ng-if="ItemInventory.RaisingID == 2">
                <div class="form-group col-md-12">
                    <label>Scheme</label>
                    <select class="form-control" ng-model="ItemInventory.SchemeID">
                        <option value="0">-- Select Scheme --</option>
                        <option ng-repeat="scheme in SchemeList" value="{{ scheme.Id }}">{{ scheme.Name }}</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
        <input type="button" class="btn btn-primary" value="Save" ng-click="InsertUpdateItemInventory()" />
    </div>
</div>

