﻿
<style>
    #mapid {
        height: 500px;
    }
</style>

<div class="inmodal">
    <div class="color-line"></div>
   
    <div class="modal-body">
            <div class="row" ng-controller="mapCtrl">
                <div class="row" >
                    <div class="col-md-6">
                        <select class="form-control" ng-model="DrawType" ng-change="ChangeDrawType()">
                            <option value="amenity">Amenity</option>
                            <option value="roadside">Road Side</option>
                            <option value="canalside">Canal Side</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <input type="button" ng-if="DrawType == 'amenity'" class="btn btn-primary" value="Draw" ng-click="SavePolygon()" />
                        <input type="button" class="btn btn-primary" value="Save" ng-click="GetLatLong(Coordinates)" />
                    </div>
                </div>
                <br /><br />

                <div class="row">
                    <div class="col-md-12">
                        <div id="mapid"></div>
                    </div>
                </div>
            </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
    </div>
</div>
