﻿<div class="inmodal">
    <div class="color-line"></div>
    <div class="modal-header">
        <h4 class="modal-title">Scheme</h4>
    </div>
    <div class="modal-body">
        <form name="SchemeForm">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
                        <label>Scheme Name</label>
                        <input type="text" class="form-control" ng-model="Scheme.Name" name="Name" required />
                        <span class="text-danger" ng-show="(SchemeForm.Name.$touched && SchemeForm.Name.$invalid) || (!IsSchemeModelValid && SchemeForm.Name.$invalid)">Name is required</span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
        <input type="button" class="btn btn-primary" ng-click="InsertUpdateScheme()" value="Save" />
    </div>
</div>

